{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Sigma Bank - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{% static 'images/loader.gif' %}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
<!--        <div class="header_top">-->

<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="logo_section">-->
<!--                        <a class="navbar-brand" href="index.html"><img src="{% static 'images/yes.png' %}" alt="image"></a>-->
<!--                    </div>-->
<!--                    <div class="site_information">-->
<!--                        <ul>-->
<!--                            <li><a href="mailto:exchang@gmail.com"><img src="{% static 'images/mail_icon.png' %}" alt="#" />exchang@gmail.com</a></li>-->
<!--                            <li><a href="tel:exchang@gmail.com"><img src="{% static 'images/phone_icon.png' %}" alt="#" />+7123569847</a></li>-->
<!--                            -->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
        <div class="header_bottom">
          <div class="container">
            <div class="col-sm-12">
                <div class="menu_orange_section" style="background: #ff880e;">
                   <nav class="navbar header-nav navbar-expand-lg">
                     <div class="menu_section">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <li><a class="join_bt" href="{% url 'login' %}">Join us</a></li>
                            <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
<!--                          <li><a class="nav-link active" href="{% url 'login' %}">Home</a></li>-->
                        <li ><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li style="padding-left:200px"><a class="nav-link" href="{% url 'register' %}">Register</a></li>

                       <li style="padding-left:200px"><a class="nav-link">

                            <select style="background-color:#ff880e;" onchange="location = this.value;">
                                <option>Branches</option>
                                <option value="https://en.wikipedia.org/wiki/Ernakulam">Ernakulam</option>
                             <option value="https://en.wikipedia.org/wiki/Kollam">Kollam</option>
                                  <option value="https://en.wikipedia.org/wiki/Kottayam">Kottayam</option>
                                  <option value="https://en.wikipedia.org/wiki/Thiruvananthapuram">Trivandrum</option>
                                  <option value="https://en.wikipedia.org/wiki/Kozhikode">Calicut</option>


                       </select></a>
                        </li>
<!--                        <li><a class="nav-link" href="about.html">Contact</a></li>-->
<!--                        <li><a class="nav-link" href="about.html">Logout</a></li>-->
                    </ul>
                </div>
                     </div>
                 </nav>
<!--                 <div class="search-box">-->
<!--                    <input type="text" class="search-txt" placeholder="Search">-->
<!--                    <a class="search-btn">-->
<!--                        <img src="{% static 'images/search_icon.png' %}" alt="#" />-->
<!--                    </a>-->
<!--                </div> -->
                </div>
            </div>
          </div>
        </div>

    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="" style="background-image:url({% static 'images/slide_img.png' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text white_fonts">
                                      {% block body %}
                                        {% endblock%}
                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="pogoSlider-slide" style="background-image:url({% static 'images/slide_img.png' %});">-->
<!--                        <div class="container">-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-12">-->
<!--                                   -->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- .pogoSlider -->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- End Banner -->

	<!-- section -->
   	<!-- end section -->
    <!-- section -->

    <!-- end section -->

    <!-- end section -->
    <!-- section -->
   <!-- end section -->
    <!-- contact_form -->
       <!-- end contact_form -->
    <!-- end section -->
    <!-- Start Footer -->

    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2019 design by html.design</p>
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.pogo-slider.min.js' %}"></script>
    <script src="{% static 'js/slider-index.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
	<script>
	/* counter js */

	</script>

</body>

</html>